.mainInner{
  text-align: center;
   padding: 0;
 margin:0 auto;
 display:block;
 width: 300px; /* ←追加 */
}

.profileimg{
  text-align: center;
}


.box {
  width: 360px;/* 紙の横幅 100%にすると全幅表示に */
  padding: 15px;
  margin: 2em auto;
  background: #f7f092;/* 紙の色 */
  color: #000;/* 文字色 */
  box-shadow: 4px 4px 4px rgba(0,0,0,0.03);transform:rotate(2deg);
  word-break: break-all;
}
.box p {
   margin: 0; 
   padding: 0;
   font-size: 1.00em;
}
.box_tape {
   width: 50%;
   height: 35px;
   margin: -25px auto 0;
   background: #989898;
   transform: rotate(-3deg);
   opacity: 0.1;
}
.box_title {
   text-align: center;
   font-size: 1.3em!important;
   margin-top: 10px!important;
   font-weight:normal;
}
.box_subtitle {
   text-align: center;
   font-size: 0.7em!important;
   margin-bottom: 1em!important;
}

*{
  font-family: TsukuARdGothic-Regular;
}

.imgkotei{
  pointer-events: none;
}

